# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'book-to-kindle-bot'
primary_region = 'ams'

[build]
dockerfile = 'dockerfile'

[[mounts]]
destination = '/app/data'
processes = ['app']
source = 'data'

[env]
DB_PATH = '/app/data/bot.db'

[http_service]
auto_start_machines = true
auto_stop_machines = 'off'
force_https = true
internal_port = 8080
min_machines_running = 1
processes = ['app']

[http_service.concurrency]
hard_limit = 550
soft_limit = 500
type = 'requests'

[[vm]]
cpu_kind = 'shared'
cpus = 1
memory = '256mb'
