name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  spell-check:
    name: Spell Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Check spellings
      uses: crate-ci/typos@master
      with:
        files: "**/*.{md,go}"
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23.3'
    - name: Build 
      run: go build -v ./main.go